<section [ngClass]="{'showVokabeln': vokabelnService.showVokabeln}">
    <div class="header-in-vocabulary-editing">
        <h1>Deine Vokabeln</h1>
        <input type="text" placeholder="Vokabeln suchen" [(ngModel)]="vokabelnService.searchTerm">
        <mat-icon (click)="vokabelnService.toggleShowVokabeln()">close</mat-icon>
    </div>

    <!-- *ngFor auf li anwenden -->
    <ul class="vokabel-liste">
        <li *ngFor="let vokabel of filteredVokabeln" class="vokabel-item">
            <div class="vokabel-in-li">
                <span class="learned-word">{{ vokabel.myLearnedWord }}</span>
                <span class="separator"> - </span>
                <span class="language-word">{{ vokabel.myLanguage }}</span>

                <!-- Visuelles Indiz für 'korrekt' oder 'inkorrekt' -->
                <span *ngIf="vokabel.correct" class="status-correct" (click)="editVokabel(vokabel)">✓</span>
                <span *ngIf="vokabel.incorrect" class="status-incorrect">✘</span>
            </div>

            <!-- Bearbeiten-Icon -->
            <div class="icon-container">
                <mat-icon (click)="vokabelnService.openDialogEdit(vokabel.id)">edit</mat-icon>
                <mat-icon (click)="vokabelnService.openDialogDelete(vokabel.id)">delete</mat-icon>
            </div>
        </li>
    </ul>
</section>
