<section>
    <h1>Deine Vokabeln</h1>
    <h2 *ngIf="userName; else notLoggedIn">Eingeloggt: {{ userName }}</h2>

    <ng-template #notLoggedIn>
        <h2>Kein Benutzer eingeloggt</h2>
        <button class="loggin" (click)="navigateToLogin()">BITTE EINLOGGEN</button>
    </ng-template>

    <button mat-icon-button *ngIf="userName" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

        <button mat-menu-item *ngIf="userName" (click)="vokabelnService.openDialogAddVokabel()">
            <mat-icon>add</mat-icon>
            <span>Neue Vokabeln einfügen</span>
        </button>

        <button mat-menu-item *ngIf="userName">
            <mat-icon>edit</mat-icon>
            <span (click)="vokabelnService.toggleShowVokabeln()" >Vokabeln bearbeitet / löschen</span>
        </button>
        <button mat-menu-item (click)="vokabelnService.logout()">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
        </button>
    </mat-menu>

</section>