section{
    padding: 10px;
    background-color: rgb(88, 88, 230);
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-family: cursive,Arial, Helvetica, sans-serif;
.mat-menu{
    width: 300px;
    background-color: lightblue;
}
}