<h2 mat-dialog-title>Gebe deine Vokabeln ein</h2>
<mat-dialog-content>
  <!-- <p>What's your favorite animal?</p> -->
  <mat-form-field>
    <mat-label>Englische Wort </mat-label>
    <input matInput [(ngModel)]="vokabel.myLearnedWord" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deutsches Wort </mat-label>
    <input matInput [(ngModel)]="vokabel.myLanguage" />
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button (click)="saveVocabulary()" [disabled]="!vokabel.myLearnedWord || !vokabel.myLanguage"
    cdkFocusInitial>
    Speichern
  </button>
</mat-dialog-actions>

<!-- [mat-dialog-close]="animal()" -->