section{
    height: 200px;
    width: 300px;
    background-color: rgba(211, 211, 211, 0.9); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: solid 3px ;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in;

    &.isGreen{
        color: green;
        background-color: green;
    
    }

    &.isRed{
        color: red;
        background-color: red;
    
    }

    .sprachen{
        margin: 30px;
    }

    svg{
        &:hover{
            cursor: pointer;
        }
    }
}